

/* pitch slideshow */

#slideshow {
    position:relative;
    height:260px;
	width:960px;
}
#slideshow img {
	float: left;
}
#slideshow div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
}
#slideshow div.active {
    z-index: 10;
}
#slideshow div.last-active {
    z-index: 9;
}

#zoom { 
	z-index: 11; 
}

/* pitch overlay */
.overlay {
	clear: both;
	float: left; 
	z-index: 100;
	position: relative; 
	margin: 100px 0 0; 
}
.overlay h2{ 
	color: #fff; 
	font-size: 2em;
	background: url(../images/dot.png);
	padding: 16px;
	margin: 0;
	float: left;
	width: 300px;
}
.overlay p {
	clear: both;
	background: #fff;
	padding: 16px;
	width: 300px;
}

